body{
	background-color: #e0d5d5;
}

h1.site_heading{
	text-align: center;
	font-size: 130px;
}

div.main_content{
	text-align: center;
}

form{
	text-align: center;
}

input[type=text]{
	border-radius: 5px;
	width: 450px;
	height: 50px;
	padding: 9px;
	border: 1px solid #ccc;
	font-size: 21px;
}

input[type=button]{
	width: 100px;
	height: 50px;
	font-size: 20px;
	border-radius: 8px;
	background-color: #007bff;
	cursor: pointer;
	margin: 0px;
	color: white;
	border: 1.5px solid white;
}

input[type=button]:hover{
	background-color: #0033ff;
}

#channel_name{
	font-size: 40px;
	font-weight: bold;
}

#sub_count{
	margin-top: 5px;
	display: none;
	font-size: 60px;
	background-color: black;
	color: white;
	border-radius: 20px;
	padding: 5px 10px;
}
